* {
  box-sizing: border-box;
}

header {
  background-color: white;
  max-height: 100px;
}

h1 {
  display: inline;
  color: green;
}
img.logo {
  max-height: 60px;
}

body {
  background-color: #63a541;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  margin: 0;
}

.firstdiv {
  display: flex;
  position: relative;
}

img.ghana {
  position: relative;
  max-width: 107.5%;
  max-height: 100%;
}

img.paraguay {
  flex: 1;
  max-width: 100.3%;
  max-height: 100%;
}

p.imgtext {
  position: absolute;
  bottom: 20px;

  font-size: 150%;
  color: #fff;
  padding: 0 20px;
  width: 40%;
  line-height: 150%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);`
}

h1.headline {
  margin: 1% 35%;
  width: 70%;
  display: block;
}
h3.calculator {
  margin: 2% 26%;
  width: 70%;
}
.divamount {
  margin: 2% 25%;
  width: 69%;
}

.amount {
  height: 30px;
  margin: 10px 5px 10px 20px;
  border-radius: 5px;
  width: 180px;
  text-align: center;
  padding: 0;
  font-size: 90%
}

.amount:hover {
    border: 1px;
}

.period {
  flex: 1;
  margin: 10px 5px 10px 20px;
  height: 30px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 90%
}

.period:hover {
    border: 1px;
}

select {
  width: 40%;
  margin: 20px;
  height: 30px;
  font-size: 15px;
  color: green;
}

select:hover {
    border: 1px;
}

.calc {
  margin: 18px;
  flex: 1;
  height: 30px;
  border-radius: 5px;
  color: green;
  background-color: white;
  font-size: 15px;
  /*box-shadow: 0px 1px 3px 2px #ccc;*/
}

.calc:hover {
    border: 1px;
}

div#matches {
  margin: 5% 20%;
  font-size: 18px;

}

p.partnername {
  display: block;
}

p.portyield {
  display: block;
}

p.url {
  display: block;
}

.disclaimer {
  font-size: 12px;
  margin: 20px;
}

@media (max-width: 600px)
